@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');


.books-app >.row{
  flex-wrap: nowrap;
}

h1{
font-family: 'Palette Mosaic', cursive;
align-items: center;
justify-content: center;
display: flex;
}
  .image-container {
    position: relative;
    transition: transform 0.2s;
  }
  
  .image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 5px;
    text-align: center;
  }
  .quotes-search{
    font-family: 'WindSong', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    button{
      font-family:'Palette Mosaic', cursive  !important ;
      background-color: #41424199;
      border: none;
      border-radius: 20%;
      color: white;
      font-family: 'Palette Mosaic', cursive;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
