@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
h1{
font-family: 'Palette Mosaic', cursive;
align-items: center;
justify-content: center;
display: flex;
}
img{
width: 100px;
height: 150px;
display: flex;
}
.container{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.card{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
}
.card-body{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
}
.quotes-search{
  font-family: 'WindSong', cursive;
display: flex;
align-items: center;
justify-content: center;
}